@import url(' https://fonts.cdnfonts.com/css/panthera?styles=58238 ' ); 
@import url(' https://fonts.cdnfonts.com/css/beyno?styles=27197 ');
@import url(' https://fonts.cdnfonts.com/css/wakanda-forever?styles=84151 ' );
@import url(' https://fonts.cdnfonts.com/css/cantarell?styles=159,158,157,156 ');                            

@font-face {
    font-family: 'panthera';
    src: url(../../panthera.ttf);
}
@font-face {
    font-family: 'beyno';
    src: url(../../BEYNO.ttf);
    font-size: 32px;
}
@font-face {
    font-family: 'wakanda';
    src: url(../../wakandaforever-regular.ttf);
    font-size: 43px;
}
@font-face {    
    font-family: 'cantarell';
    src: url(../../Cantarell-Regular.ttf);
}
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}   
:root{
    --white-color: #fff;
    --magentalight-color: #efcef2;
    --grayish-color: #9e97b7;
    --magentasoft-color: #df99f2;
    --bluesoft-color: #3d2da6;
    --blue-color: #07338c;
    --bluedark-color: #021740;
    --radial-gradient:(#11213F 0%, #0B0B0B 39,1%, #021740 94,57%) ;
}
body{
    width: auto;
    background: radial-gradient(126.67% 350.28% at -21.35% 0%, #11213F 0%, #0B0B0B 39.1%, rgba(2, 23, 64, 0.837641) 94.57%, rgba(2, 23, 64, 0) 100%) ;
    color: var(--white-color);
    font-family: 'cantarell';
    font-size: 16px;
}
@media screen and (max-width: 900px) {
    body{
        font-size: 15px;
        position: relative;
        padding: 0 25%;
    }
}
h1{
    letter-spacing: 3px;
    font-family: 'beyno';
    font-size: 65px;
    color: var(--magentasoft-color);
    padding-top:25%; 
}
@media screen and (max-width: 900px) {
    h1{
        font-size: 30px;
    }
    }
h2{
    font-family: 'wakanda';
    font-size: 43px;
    color: var(--magentasoft-color);
   
}
@media screen and (max-width: 900px) {
    h2{
        font-size: 20px;
    }
    }
h3{
    font-family: 'beyno';
    font-size: 60px;
    color: var(--magentasoft-color);
    letter-spacing: 5px;
}
@media screen and (max-width: 900px) {
    h3{
        font-size: 25px;
    }
}
p{
    width: 100%;
    padding-top: 50px;
    text-align: justify;  
}

/* Design de la navigation */
nav{
    display: block;
    align-items: center;
    margin: 0px;
    padding: 0px;
    padding-top: 20px;
}
nav ul{
    list-style: none;
    display: flex;
    position: absolute;
    top: 0;
    width: 20%;
    left: 70%;
    justify-content: space-between;
    padding-top: 20px;
}
nav ul a{
    color: var(--white-color);
    font-size: 20px;
    font-weight: 100;
    font-family: 'beyno';
    text-decoration: none; 

}
nav ul a:hover{
    font-weight: bold;
    text-decoration: underline;
}
nav ul a:active{
    color: var(--magentasoft-color);
    font-weight: bold;
    text-decoration: underline;
}
.logo{
    padding: 0px;
}
.logo:hover{
    -webkit-filter: invert(67%) sepia(10%) saturate(2002%) hue-rotate(233deg) brightness(104%) contrast(90%);
    filter: invert(67%) sepia(10%) saturate(2002%) hue-rotate(233deg) brightness(104%) contrast(90%);
}
.navbar { 
    width: 80%;
    margin: 0 auto;
}
@media screen and (max-width: 900px) {
    nav ul a{
    overflow-y: auto;
}
}
/*Animation fade-in*/
h1, h2 ,h3, p, img, iframe, a, input, div{
    animation: fade-in 0.3s ease-in-out forwards;
}
@keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}
/* Design section - dora*/
#dora .container{
    display: flex;
    flex-direction: row;
    width: auto;
}
#dora .content{
    object-fit: contain;
}
.img1{
    height: 400px;
    width: 200px;
    margin-top: 70px;
    position: relative;
}
#dora .defi{
    margin-left: 50%;
    margin-top: -200px;
}
.defi span{
    letter-spacing: 10px;
}

#dora p{
    position: relative;
    text-align: justify;
    width: 25%;
    height: 10%;
    margin-left: 1200px;
    bottom: 390px;
}
.img2{
    margin-left: 1050px;
    margin-top: 100px;
}
.img3{
    position: relative;
    margin-left: 900px;
    margin-top: -150px;
}
@media screen and (max-width: 900px) {
    #dora .container{
    width: auto;
    }
    #dora .content{
        position: relative;
        display: block;
        width: 1000px;
        height: 200px;
    }
    .img1{
        position: relative;
        display: flex;
        z-index: 2;
        width: auto;
        height: 200px;
    }
    #dora .defi{
        position: relative;
        margin-top: 10px;
        right: 600px;
    }
    .img2{
        position: relative;
        right: 1200px;
        width: 10%;
        height: auto;
        top: -100px;
    }
    #dora p{
        position: relative;
        right: 1200px;
        top: -500px;
    }
}
/* Design section - wakanda*/
#wakanda{
    display: flex;
    width: 100%;
}
#wakanda .container{
    padding: 5% 10%;
}
.transcript h2{
    letter-spacing: 6px;
    text-align: justify;
    width: 80%;    
}
.transcript .alpha{
    padding-top: 50px;
}
.transcript .alpha span{
    font-family: 'wakanda';
}
.img2-1{
    position: relative;
    margin-left: 850px;
    margin-top: 200px;
}
.beta{
    position: relative;
    text-align: center;
    width: 35%;
    height: 10%;
    margin-left: 950px;
    bottom: 200px;
}
.beta, .img2-1{
    margin-top: -6%;
}
@media screen and (max-width: 900px) {
    #wakanda{
    display: block;
    }
    #wakanda .container{
    padding-top: 600px;
    }
    .beta{
        position: relative;
        right: 900px;
        width: 100%;
        margin-top: -180px;
    }
    .img2-1{
        position: relative;
        right: 1200px;
        width: 200px;
        height: auto;
    }

}
/* Formulaire*/
.reponse{
    display: grid;
    grid-template-columns: 1fr ;
    margin-top: -15%;
    padding: 0 10%;
}
span{
    padding: 20px;
}

input[type="answer"]{
    border-radius: 3em;
    border: 1px solid var(--magentasoft-color);
    background-color: transparent;
    font-size: 15px;
    font-weight: bolder;
    color: var(--magentasoft-color);
    padding: 1% 3%;
    margin-bottom: 50px;
    width: 30%;
}
.button {
    width: 40%;
    height: 80px;
    border-radius: 3em;
    border: 1px solid var(--blue-color);
    padding: 1.5% 4%;
    margin: 3% 8%;
    background-color: var(--magentalight-color);
    font-size: 15px;
    font-weight: bolder;
    color: var(--blue-color);
    text-decoration: none;
  }
  .button:hover {
    box-shadow: var(--magentalight-color) 0px 0px 30px;
  }
  @media screen and (max-width: 900px) {
    .reponse{
    display: block;
    position: relative;
    width: 800px;
  }
   input{
    width: 80%;
   }
}

/* Design Popup */

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../../allpages/arrière_plan.png);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: var(--magentalight-color);
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: var(--bluedark-color);
    font-family:'cantarell';
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color:var(--grayish-color);
  }
  .popup .close:hover {
    color: var(--blue-color);
  }
  .popup .content {
    max-height: 50%;
    overflow: auto;
    text-align: center;
    color: var(--bluedark-color);
    font-family:'cantarell';
  }
  
  @media screen and (max-width: 900px){
    .popup{
        position: relative;
      width: 70%;
    }
  }
 /*Design -footer*/
 footer{
    background-image: url(../../allpages/back_footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    width: auto;
    color: var(--White-color);
}
footer .container{
    margin-top: 90px;
    position: relative;
    width: 100%;
}
footer .img{
    padding-top: 200px;
    position: relative;
} 

footer .logos{
    padding-top: -50px;
    position: relative;
    bottom: 220px;
    left: 90px;
}
footer .logos:active{
    -webkit-filter: invert(67%) sepia(10%) saturate(2002%) hue-rotate(233deg) brightness(104%) contrast(90%);
    filter: invert(67%) sepia(10%) saturate(2002%) hue-rotate(233deg) brightness(104%) contrast(90%);
}
footer .image{
    transition: transform 0.3s ease;
}
footer .image:hover{
    transform: scale(1.1);
}
footer h2{
    font-family: 'cantarell';
    position: relative;
    color: var(--white-color);
    letter-spacing: 0.28em;
    font-size: 22px;
    padding-bottom: 20px;
}
footer a{
    font-family: 'cantarell';
    color: var(--white-color);
    text-decoration: none;
    font-size: 16px;
    margin-top: 20%;
}
footer a:hover{
    text-decoration: underline;
}
footer .page{
    position: relative;
    bottom: 400px;
    left: 40%;
    font-family: 'cantarell';
    padding: 10px 20px;
}
footer .icon{
    position: relative;
    bottom: 505px;
    left: 70%;
}
footer .social{
    padding: 20px 30px 0 0;
    transition: transform 0.5s ease;
}
footer .social:hover{
    transform: scale(1.1);
}
footer .text{
    position: relative;
    bottom: 350px;
    left: 45%;
}
@media screen and (max-width: 900px){
    footer{
        display: flex;
      width: 325px;
      height: auto;
      margin-top: 150px;
    }
    footer .container{
        position: relative;
        width: 200px;
    }
    footer h2{
        right: 100px;
    }
    .image{
        position: relative;
        width: 300px;
        height: auto;
    }
    footer .page{
        margin-top: 400px;
        margin-right: 100px;
    }
    footer .icon{
        position: relative;
        display: block;
        margin-top: 120px;
        margin-right: 200px;
    }
  }