@import url(' https://fonts.cdnfonts.com/css/panthera?styles=58238 ' ); 
@import url(' https://fonts.cdnfonts.com/css/beyno?styles=27197 ');
@import url(' https://fonts.cdnfonts.com/css/wakanda-forever?styles=84151 ' );
@import url(' https://fonts.cdnfonts.com/css/cantarell?styles=159,158,157,156 ');                            

@font-face {
    font-family: 'panthera';
    src: url(../../panthera.ttf);
}
@font-face {
    font-family: 'beyno';
    src: url(../../BEYNO.ttf);
    font-size: 32px;
}
@font-face {
    font-family: 'wakanda';
    src: url(../../wakandaforever-regular.ttf);
    font-size: 43px;
}
@font-face {    
    font-family: 'cantarell';
    src: url(../../Cantarell-Regular.ttf);
}
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}   
:root{
    --white-color: #fff;
    --magentalight-color: #efcef2;
    --grayish-color: #9e97b7;
    --magentasoft-color: #df99f2;
    --bluesoft-color: #3d2da6;
    --blue-color: #07338c;
    --bluedark-color: #021740;
    --radial-gradient:(#11213F 0%, #0B0B0B 39,1%, #021740 94,57%) ;
}
body{
    background: radial-gradient(126.67% 350.28% at -21.35% 0%, #11213F 0%, #0B0B0B 39.1%, rgba(2, 23, 64, 0.837641) 94.57%, rgba(2, 23, 64, 0) 100%) ;
    color: var(--white-color);
    font-family: 'cantarell';
    font-size: 16px;

}
.container{
    width: 100%;
    margin: 0 auto;
}
h1{
    font-family: 'panthera';
    font-size: 60px;
    color: var(--magentasoft-color);
}
h2{
    font-family: 'beyno';
    font-size: 32px;
    color: var(--magentasoft-color);
}
h3{
    font-family: 'beyno';
    font-size: 20px;
    color: var(--magentasoft-color);
}
.voir-plus{
    text-decoration: underline;
}
/*responsive*/
@media (min-width: 320px) and (max-width: 728px) {
    header .logo {
      width: 30%;
    }
    header .logo img {
      width: 100%;
    }
  
    nav ul {
      width: 60%;
    }
    nav ul a {
      font-size: 3vw;
    }
    section, div, span, form, img{
        width: 60%;
    }
  }


/* Design de la navigation */
nav{
    display: block;
    align-items: center;
    margin: 0px;
    padding: 0px;
    padding-top: 20px;
}
nav ul{
    list-style: none;
    display: flex;
    position: absolute;
    top: 0;
    width: 20%;
    left: 70%;
    justify-content: space-between;
    padding-top: 20px;
}
nav ul a{
    color: var(--white-color);
    font-size: 20px;
    font-weight: 100;
    font-family: 'beyno';
    text-decoration: none; 

}
nav ul a:hover{
    font-weight: bold;
    text-decoration: underline;
}
nav ul a:active{
    color: var(--magentasoft-color);
    font-weight: bold;
    text-decoration: underline;
}
.logo{
    padding: 0px;
}
.logo:hover{
    -webkit-filter: invert(67%) sepia(10%) saturate(2002%) hue-rotate(233deg) brightness(104%) contrast(90%);
    filter: invert(67%) sepia(10%) saturate(2002%) hue-rotate(233deg) brightness(104%) contrast(90%);
}
.navbar { 
    width: 80%;
    margin: 0 auto;
}
h1, h2 ,h3, p, img, iframe, a, input, div{
    animation: fade-in 0.3s ease-in-out forwards;
}
@keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}
/*Design scroll*/
.scroll {
    display: flex;
    position: fixed;
    top: 70px;
    flex-direction: column;
    padding-left: 50px;
    margin-top: 250px;
}
.scroll .social{
    padding: 10px 10px;
}
.scroll .social:hover{
    -webkit-filter:invert(94%) sepia(45%) saturate(7196%) hue-rotate(202deg) brightness(140%) contrast(98%);
    filter:invert(94%) sepia(45%) saturate(7196%) hue-rotate(202deg) brightness(140%) contrast(98%);
}
.long-bar{
    border-left: 2px solid var(--magentalight-color);
    position: fixed;
    width: 2px;
    height: 52%;
    left: 50px;
    margin-top: 0;
}
.short-bar{
    border-right: 2px solid var(--magentalight-color);
    position: fixed;
    width: 2px;
    height: 34%;
    left: 70px;
    margin-top: 0;
}

/* Design section - personnage-principal*/
#personnage-principal .content{
    padding-top: 100px;
    margin-left: -40px;
    margin-right: -90px;
    display: flex;
    flex-direction: row;
    padding: 10% 15%;
}
#personnage-principal .personnage-text{
    margin-left: 50%;
    margin: 10px;
}
#personnage-principal p{
    padding-top: 50px;
    text-align: left;
    width: 90%;
    z-index: 1;
}
.black-panther{
    display: flex;
    flex-direction: row;
    margin-top: -200px;
    margin-right: 160px;
    z-index: 2;
    width: 750px;
    height: 600px;
}

/* Design section - personnage*/
#personnage{
    width: 100%;
    padding-left: 10%;
}
#personnage .container{
    display: flex;
    flex-direction: row;
    background-color: var(--bluedark-color);
    padding-left: 50px;
    width: auto;
    height: 343px;
}
#personnage .content{
    display: flex;
    position: relative;
    align-items: center;
    padding-left: -80px;
    width: 100%;
}
#personnage .personnage-image{
    display: flex;
    padding: 15px;
}
#personnage .personnage-text{
    text-align: justify;
    padding: 20px;
    width: 100%;
}

/*Design section - history*/
@media (min-width: 320px) and (max-width: 768px) {
    #history {
    width: 20vw;
    right: 40%;
    max-height: 100%;
}
}
#history{
    margin-top: 10%;
}
#history .container{
    display: flex;
    flex-direction: row;
    width: 80%;
    text-align: justify;
    padding-left: 5%;
}
.biographie{
    padding-left: 10%;
}
.bio-tchalla{
    background-color: var(--grayish-color);
    border-radius: 0.8rem;
    margin: 30% 5%;
    width: 480px;
    height: 800px;
}
.tchalla{
    position: relative;
    top: -220px;
    LEFT: 40px;
}
.bio-tchalla .content{
    margin-top: -45%;
}
h4{
    color: #0B0B0B;
    height: 40px;
    text-align: center;
    font-size: 25px;
}
button{
    background: var(--blue-color);
    color: white;
    padding: 3% 8% 3% 4%;
    border: none;
    border-radius: 0.5rem;
    font-family: 'cantarell';
    justify-content: space-between;
    text-align: center;
}
.btn{
    padding-left: 10%;
    padding-right: 10%;
}
.bio-tchalla p{
    color: #0B0B0B;
    padding-left: 10%;
    padding-right: 10%;
    margin: 30px 5px 30px;
    font-size: 13px;
}
.bio-tchalla span{
    font-weight: bold;
}
.black{
    position: relative;
    left: 50px;
}
 /* Design section - contact*/
 #contact{
    background-image: url(../a-illustrations/Pantherhome7.png) ;
    background-repeat: no-repeat;
    background-size: contain;
    height: 60vw;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 5%;
    color: black;
 }
 #contact .container{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1.0) 20%, rgba(242, 206, 242, .2) 60%);
    border-radius: 30%;
    text-align: center;
    grid-column: 2/3;
    padding: 40px;
    margin: 30px;
    width: 90%;
    height: 75%;
 }
 #contact span{
    font-weight: bold;
    font-size: 40px;
 }
 input[type="name"], [type="email"]{
    width: 60%;
    height: 3vw;
    border-radius: 3em;
    border: 1px solid var(--blue-color);
    padding: 1% 2%;
    margin: 10px;
    background-color: transparent;
    font-size: 12px;
    color: var(--blue-color);
 }
 textarea{
    width: 60%;
    height: 12vw;
    border-radius: 3em;
    border: 1px solid var(--blue-color);
    padding: 2% 2%;
    margin: 10px;
    background-color: transparent;
    font-size: 12px;
    color: var(--blue-color);
 }
 input[type="submit"]{
    width: 20%;
    height: 60px;
    border-radius: 3em;
    border: 1px solid var(--blue-color);
    padding: 2% 5%;
    margin: 5% 10%;
    background-color: var(--magentalight-color);
    font-size: 12px;
    font-weight: bolder;
    color: var(--blue-color);
 }
 #contact input[type="submit"]:hover{
    box-shadow: var(--magentalight-color) 0px 0px 30px;
    cursor: pointer;
}
 /*Design -footer*/
 footer{
    background-image: url(../../allpages/back_footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    width: 100%;
    color: var(--White-color);
    padding: 0 20%;
}
footer .container{
    margin-top: 90px;
    position: relative;
    display: block;
}
footer .image{
    transition: transform 0.3s ease;
    display: block;
}
footer .image:hover{
    transform: scale(1.1);
}
footer .img{
    padding-top: 150px;
} 
footer .logos{
    padding-top: -50px;
    position: relative;
    bottom: 250px;
    left: 80px;
}
footer h2{
    font-family: 'cantarell';
    position: relative;
    color: var(--white-color);
    letter-spacing: 8px;
}
footer a{
    font-family: 'cantarell';
    color: var(--white-color);
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px
}
footer a:hover{
    text-decoration: underline;
}
footer .page{
    position: relative;
    bottom: 400px;
    left: 40%;
    font-family: 'cantarell';
    padding: 10px 20px;
}
footer .icon{
    position: relative;
    bottom: 500px;
    left: 70%;
}
footer .social{
    padding: 12px 30px;
    transition: transform 0.3s ease;

}
footer .social:hover{
    transform: scale(1.1);
}
footer .text{
    position: relative;
    bottom: 350px;
    left: 45%;
}
/*responsives footer*/
@media (min-width: 320px) and (max-width: 768px) {
    footer {
      display: flex;
      flex-direction: column;
      height: auto;
    }
 }