@import url(' https://fonts.cdnfonts.com/css/panthera?styles=58238 ' ); 
@import url(' https://fonts.cdnfonts.com/css/beyno?styles=27197 ');
@import url(' https://fonts.cdnfonts.com/css/wakanda-forever?styles=84151 ' );
@import url(' https://fonts.cdnfonts.com/css/cantarell?styles=159,158,157,156 ');                            

@font-face {
    font-family: 'panthera';
    src: url(../../panthera.ttf);
}
@font-face {
    font-family: 'beyno';
    src: url(../../BEYNO.ttf);
    font-size: 32px;
}
@font-face {
    font-family: 'wakanda';
    src: url(../../wakandaforever-regular.ttf);
    font-size: 43px;
}
@font-face {    
    font-family: 'cantarell';
    src: url(../../Cantarell-Regular.ttf);
}
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}   
:root{
    --white-color: #fff;
    --magentalight-color: #efcef2;
    --grayish-color: #9e97b7;
    --magentasoft-color: #df99f2;
    --bluesoft-color: #3d2da6;
    --blue-color: #07338c;
    --bluedark-color: #021740;
    --radial-gradient:(#11213F 0%, #0B0B0B 39,1%, #021740 94,57%) ;
}
body{
    background: radial-gradient(126.67% 350.28% at -21.35% 0%, #11213F 0%, #0B0B0B 39.1%, rgba(2, 23, 64, 0.837641) 94.57%, rgba(2, 23, 64, 0) 100%) ;
    color: var(--white-color);
    font-family: 'cantarell';
    font-size: 16px;

}
.container{
    width: 70%;
    margin: 0 auto;
}
h1{
    font-family: 'panthera';
    font-size: 60px;
    color: var(--magentasoft-color);
}
h2{
    font-family: 'beyno';
    font-size: 32px;
    color: var(--magentasoft-color);
}
h3{
    font-family: 'beyno';
    font-size: 20px;
    color: var(--magentasoft-color);
}
.voir-plus{
    text-decoration: underline;

}
/* Design de la navigation */
nav{
    display: block;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
nav ul{
    list-style: none;
    display: flex;
    position: absolute;
    top: 0;
    width: 20%;
    left: 70%;
    justify-content: space-between;
}
nav ul a{
    color: var(--white-color);
    font-size: 20px;
    font-weight: 100;
    font-family: 'beyno';
    text-decoration: none; 
}
nav ul a:hover{
    font-weight: bold;
    text-decoration: underline;
}
nav ul a:active{
    color: var(--magentasoft-color);
    font-weight: bold;
    text-decoration: underline;
}
.logo{
    padding: 0px;
}
.logo:hover{
    -webkit-filter: invert(67%) sepia(10%) saturate(2002%) hue-rotate(233deg) brightness(104%) contrast(90%);
    filter: invert(67%) sepia(10%) saturate(2002%) hue-rotate(233deg) brightness(104%) contrast(90%);
}
    .navbar { 
    width: 80%;
    margin: 0 auto;
}
/*Design scroll*/
.scroll {
    display: flex;
    position: fixed;
    top: 70px;
    flex-direction: column;
    padding-left: 50px;
    margin-top: 250px;
}
.scroll .social{
    padding: 10px 10px;
}
.scroll .social:hover{
    -webkit-filter:invert(94%) sepia(45%) saturate(7196%) hue-rotate(202deg) brightness(140%) contrast(98%);
    filter:invert(94%) sepia(45%) saturate(7196%) hue-rotate(202deg) brightness(140%) contrast(98%);
}
.long-bar{
    border-left: 2px solid var(--magentalight-color);
    position: fixed;
    width: 2px;
    height: 52%;
    left: 50px;
    margin-top: 0;
}
.short-bar{
    border-right: 2px solid var(--magentalight-color);
    position: fixed;
    width: 2px;
    height: 34%;
    left: 70px;
    margin-top: 0;
}
/* Design section - personnage-principal*/
#personnage-principal .content{
    padding-top: 200px;
    margin-left: -40px;
    margin-right: -90px;
    display: flex;
    flex-direction: row;
}
#personnage-principal .personnage-text{
    margin-left: 50%;
    margin: 10px;
}
#personnage-principal p{
    padding-top: 50px;
    text-align: left;
    width: 105%;
    z-index: 1;
}
.black-panther{
    display: flex;
    margin-top: -200px;
    margin-right: -7%;
    z-index: 2;
    width: auto;
}

/* Design section - personnage*/
#personnage{
    margin-left: -100px;
    margin: 5px 0px;
    padding: 20px 5px;
}
#personnage .container{
    display: flex;
    position: relative;
    background-color: var(--bluedark-color);
    padding-right: 2px;
    width: 80%;

}
#personnage .content{
    display: flex;
    position: relative;
    align-items: center;
    padding: 0px 15px;
    padding-left: 40px;
    padding-right: 0;
    margin: 5px 5px;
    width: 700%;

}
#personnage .personnage-image{
    position: relative;
    padding: 1px ;
    margin: 20px;
    width: 100%;
}
#personnage .personnage-text{
    display:block;
    text-align: justify;
    width: 200%;
}

/* Design section - history*/
#history{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-right: 50%;
    margin-left: 10%;
    padding-left: 20%;
    padding: 10px;
    text-align: justify;
}
#history .container{
    font-size: 15px;
    padding-top: 5%;

}
